.board {
  display: table;
  margin: 2em auto;
  box-sizing: border-box;
}

.row {
  display: table-row;
  box-sizing: border-box;
}

.row + .row .cell {
  border-top: 2px solid black;
}

.cell {
  display: table-cell;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-size: 200%;
}

.cell + .cell {
  border-left: 2px solid black;
}

.cell.solved {
  background: lightgreen;
}

.cell.disabled {
  background: #efefef;
  color: #ccc;
}
